@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');
/* Underline feature */
.un
{ 
  text-decoration: underline;
}
/* Main Body styling */
body
{
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url('../2. Images/wallpaper.png');
  background-color: #ece5dd;
  font-family: 'Lexend', sans-serif;
  min-height: 100%;
  height: 100%;
}
/* Vertical Timeline style */
.verTimeline
{
  position: absolute;
  margin: 50px auto;
  padding: 10px 0;
  box-sizing: border-box;
}
/* Vertical line */
.verTimeline:before
{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  top: -80px;
  height: 101%;
  background: #000000;
}
/* Timeline ul style */
.verTimeline ul
{
  margin: 0;
  padding: 0;
}
/* Timeline ul li style */
.verTimeline ul li
{
  list-style: none;
  position: relative;
  width: 50%;
  margin: default;
  padding: 20px 40px;
  box-sizing: border-box;
}
/* Timeline ul li p content style */
.verTimeline ul li p
{
  margin: 10px 0 0;
  padding: 10px 0;
}
/* Timeline ul li h2 content style */
.verTimeline ul li h2
{
  margin: 0;
  padding: 0;
}
/* Timeline ul li left side text style */
.verTimeline ul li:nth-child(odd)
{
  float:left;
  text-align: left;
  clear: both;
}
/* Timeline ul li right side text style */
.verTimeline ul li:nth-child(even)
{
  float:right;
  text-align: left;
  clear: both;
}
/* Timeline ul li left side circle point */
.verTimeline ul li:nth-child(odd):before
{
  content:'';
  position: absolute;
  top: 38px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #FFFF00;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #000000;
}
/* Timeline ul li right side circle point */
.verTimeline ul li:nth-child(even):before
{
  content:'';
  position: absolute;
  top: 38px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #FFFF00;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #000000;
}
.verTimeline ul li .event
{
  margin: 2px 4px;
  padding: 14px 28px;
  background: #FFFFFF;
}
/* Timeline ul li left side date style (float right) */
.verTimeline ul li:nth-child(odd) .date
{
  position: absolute;
  top: 13px;
  right: -175px;
  margin: 0;
  padding: 0 6px;
  background: #00bfb6;
  color: #FFFFFF;
  border-radius: 14px;
}
/* Timeline ul li right side date style (float left) */
.verTimeline ul li:nth-child(even) .date
{
  position: absolute;
  top: 13px;
  left: -175px;
  margin: 0;
  padding: 0 6px;
  background: #00bfb6;
  color: #FFFFFF;
  border-radius: 14px;
}
.verTimeline ul li:nth-child(odd) .date:before
{
  content:"";
  position: absolute;
  right: 100%;
  top: 16px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #00bfb6;
  border-bottom: 13px solid transparent;
}
.verTimeline ul li:nth-child(even) .date:before
{
  content:"";
  position: absolute;
  left: 100%;
  top: 16px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid #00bfb6;
  border-bottom: 13px solid transparent;
}
/* Timeline media screen with max width of 1000px */
@media screen and (max-width: 1000px) 
{
  .verTimeline
  {
    width: 100%;
  }
}
/* Timeline media screen with max width of 750px */
/* For responsive screen */
@media screen and (max-width: 750px) 
{
  .verTimeline
  {
    width: 100%;
  }
  .verTimeline:before
  {
    left: 20px;
  }
  .verTimeline li:nth-child(odd)
  {
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .verTimeline li:nth-child(even)
  {
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .verTimeline ul li:nth-child(odd):before
  {
    top: -18px;
    left: 16px;
  }
  .verTimeline ul li:nth-child(even):before
  {
    top: -18px;
    left: 16px;
  }
  .verTimeline ul li:nth-child(odd) .date
  {
    top: -40px;
    left: 60px;
    right: inherit;
  }
  .verTimeline ul li:nth-child(even) .date
  {
    top: -40px;
    left: 60px;
  }
  .verTimeline ul li:nth-child(even) .date:before
  {
    display: none;
  }
  .verTimeline ul li:nth-child(even) .date:after
  {
    content:"";
    position: absolute;
    right: 100%;
    top: 16px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #00bfb6;
    border-bottom: 13px solid transparent;
  }
}
/* Topbar style */
.topbar 
{
  position: relative;
  background-color: #4CAF50;
  overflow: hidden;
}
/* Topbar text style */
.topbar a 
{
  position: relative;
  float: left;
  color: white;
  padding: 14px 16px;
  font-size: 17px;
}
/* Topbar menu icon */
.topbar .icon 
{
  display: none;
}
/* Topbar media screen with max width of 1000px */
@media screen and (max-width: 1000px) 
{
  .topbar a:not(:first-child) 
  {
    display: none;
  }
  .topbar a.icon 
  {
    float: right;
    display: block;
  }
}
/* Topbar media screen with responsive max width of 1000px */
@media screen and (max-width: 1000px) 
{
  .topbar.responsive 
  {
    position: relative;
  }
  .topbar.responsive a.icon 
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topbar.responsive a 
  {
    float: none;
    display: block;
    text-align: left;
  }
}
/* Footer styling */
footer
{
	background-color:black;
  position: fixed;
  bottom: 0px;
	left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
/* General button styling */
button
{
  text-align: center;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.7;
  cursor: pointer;
}
/* General button styling */
button:hover
{
  opacity: 1
}
/* Slideshow container */
.homeSlides 
{
  display: none;
}
/* Slideshow container */
.slideshowContainer
{
  position: relative;
  margin: auto;
}
/* Fading animation */
.fade 
{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade 
{
  from {opacity: .5} 
  to {opacity: 1}
}
@keyframes fade 
{
  from {opacity: .5} 
  to {opacity: 1}
}
.movementPics
{
  margin: 10px 0 0;
  padding: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.advice
{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.advice .category
{
  position: relative;
  width: 280px;
  height: 600px;
  background: #FFFFFF;
  margin: 16px 20px;
  padding: 80px 20px;
  box-shadow: 0 0 0 .1px #000000;
}
.advice .category:before
{
  content: '';
  position: absolute;
  background: #00bfb6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.7s;
}
.advice .category:hover:before
{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.3s;
}
.advice .category h2
{
  text-decoration: underline;
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  top: 30px;
  opacity: 0.2;
  transition: 0.5s;
}
.advice .category:hover h2
{
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  opacity: 1;
  color: #FFFFFF;
  transform: translateY(-20px);
}
.advice .category p
{
  font-size: 16px;
  position: relative;
  color: #000000;
  transition: 0.7s;
}
.advice .category:hover p
{
  color: #FFFFFF;
}
.btnArea
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btnArea .testBtn
{
  font-size: 18px;
  background-color: #00bfb6;
  color: #FFFFFF;
  padding: 16px;
  margin: 20px;
  opacity: 0.6;
  transition: 0.3s;
}
.btnArea .testBtn:hover
{
  font-size: 28px;
  background-color: #00bfb6;
  opacity: 1;
}
.colourBar
{
  content: '';
  position: relative;
  background-color: #00bfb6;
  width: 100%;
  height: 20px;
}
.onlineTestQuestion
{
  text-align: center;
  font-size: 24px;
  margin: 12px;
  padding: 16px;
}
.onlineTestBtn
{
  height: 80px;
  width: 200px;
  font-size: 20px;
  margin: 20px;
  padding: 12px 16px;
  color: #FFFFFF;
  background-color: #00bfb6;
  opacity: 0.7;
}
.onlineTestBtn:hover
{
  transition: 0.3s;
  opacity: 1;
}
@media screen and (max-width:750px)
{
  .colourBar
  {
    width:100%;
  }
  .testQuestion
  {
    width:100%;
  }
  .testBtn
  {
    position: relative;
  }
}
.changeBtn
{
  margin: 30px;
  padding: 0 22px;
  text-align: center;
  height: 50px;
  width: 110px;
  background-color: #FFBF00; 
  color: #000000;
  opacity: 1;
  border-radius: 10px;
}